* {
	margin: 0;
	padding: 0;
}

* {
    scrollbar-width: none;
    scrollbar-color: #ffffff #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #666666;
  }

.container {
	width: 100%;
	height: 100vh;
	background-color: #1B48A5;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card {
	width: 300px;
	height: 225px;
	background-color: #AB2823;
	margin-top: 30px;
	padding: 10px;
}

.numerosPlayer, .numerosCpu  {
	display: flex;
	flex-wrap: wrap;
}
.numeroDelCarton {
	width: 50px;
	height: 50px;
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	font-weight: bold;
	font-size: 20px;
}
.tachado {
	width: 50px;
	height: 50px;
	text-decoration: line-through;
	background-color: #AB2823;
	color: #5E1109;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	font-weight: bold;
	font-size: 20px;
}

.card h2 {
	font-size: 30px;
	margin-bottom: 5px;
	color: white;
	text-align: center;
}
.containerNumber {
	width: 200px;
	height: 200px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px black solid;
	border-radius: 50%;
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(170,170,170,1) 17%, rgba(108,107,108,1) 42%);
}

.containerNumber p {
	font-size: 20px;
}
.number {
	cursor: pointer;
	color: black;
	background-color: white;
	font-size: 20px;
	padding: 5px;
	border: none;
	outline: none;
}
.marks {
	width: 71%;
	height: 300px;
	border: white 2px solid;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	overflow: hidden;
	overflow-y: scroll;
	padding: 10px;
}
.numberGenerate{
	width: 50px;
	height: 50px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
}

